body {
    background-color: rgb(66, 20, 20) !important
}
.card {
    width: 18rem;
    margin-left: 160px; 
    margin-top: 100px;
    margin-bottom: 20px;
    transition:  width 3s;
    opacity: 0.9;
}
.card:active {
    opacity: 1;
}
.card-body {
    background-color: rgb(201, 170, 230);
}
.card:hover {
    width: 200px;
    rotate: -0.5deg;
    cursor: pointer;
}
.title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
.cards-div {
    display: flex;
}